@charset "utf-8";
/* CSS Document */
.cont_principal {
	width:99% !important;
	float:left;
	/*border:1px black solid;*/
}
.titulo {
	font-size:90%;
	color: #006;
	margin-left:15%;
}
.contenedor_jornadas {
	width:90% !important;
	margin-left:5%;
	/*border:1px #000 solid;*/
	float:left;
}
.jornada {
	margin-left:2%;
	margin-bottom:0.5%;
	width: 10%;
	background-color: #EDEDFC;
	text-align:center;
	border-radius:10px;
	border:3px #181C83 solid;
	padding-bottom:0.6%;
	float:left;
}
.jornada_disputandose {
	margin-left:2%;
	margin-bottom:0.5%;
	width: 10%;
	/*AABBCC*/
	background-color: #ecc8fa;
	text-align:center;
	border-radius:10px;
	border:3px #181C83 solid;
	padding-bottom:0.6%;
	float:left;
}
.jornada_completa {
	margin-left:2%;
	margin-bottom:0.5%;
	width: 10%;
	background-color: #c5fbc6;
	text-align:center;
	border-radius:10px;
	border:3px #181C83 solid;
	padding-bottom:0.6%;
	float:left;
}
.normal {
	color: #181C83;
	font-style:italic;
	font-size:80%;
}
.eliminatoria {
	margin-left:2%;
	margin-bottom:0.5%;
	width: 40%;
	background-color: #EDEDFC;
	text-align:center;
	font-size:90%;
	border-radius:10px;
	border:3px #181C83 solid;
	padding-bottom:0.6%;
	float:left;
}
.eliminatoria_disputandose {
	margin-left:2%;
	margin-bottom:0.5%;
	width: 40%;
	/*AABBCC*/
	background-color: #ecc8fa;
	text-align:center;
	font-size:90%;
	border-radius:10px;
	border:3px #181C83 solid;
	padding-bottom:0.6%;
	float:left;
}
.eliminatoria_completa {
	margin-left:2%;
	margin-bottom:0.5%;
	width: 40%;
	background-color: #c5fbc6;
	text-align:center;
	font-size:90%;
	border-radius:10px;
	border:3px #181C83 solid;
	padding-bottom:0.6%;
	float:left;
}
.seleccionado{
	color: #181C83;
	font-style:italic;
	font-weight:bolder;
	font-size:100%;
}
.caja {
	width:99% !important;
	background-color:#f3fcf5;
	border-radius: 20px;
	border:5px #C1C1C1 solid;
	margin-top:6%;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
	float:left;
}
.caja:hover {
	width:99% !important;
	background-color:#dbe4dd;
	border-radius: 20px;
	border:5px #C1C1C1 solid;
	margin-top:6%;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
	float:left;
}
.boton {
	width:7% !important;
	height:95% !important;
	background-color: #AABBCC;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
	margin-top:0.2%;
	margin-left:0.5%;
	margin-right:0.5%;
	border-radius:10px;
	border:2px #34495e solid;
	float:left;
}
.boton_sus {
	width:7% !important;
	height:95% !important;
	background-color: #FF9;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
	margin-top:0.2%;
	margin-left:0.5%;
	margin-right:0.5%;
	border-radius:10px;
	border:2px #34495e solid;
	float:left;
}
.boton_exp {
	width:7% !important;
	height:95% !important;
	background-color: #FFC1CC;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
	margin-top:0.2%;
	margin-left:0.5%;
	margin-right:0.5%;
	border-radius:10px;
	border:2px #34495e solid;
	float:left;
}
.letra {
	color:#34495e;
	font-size:45%;
	text-align: center;
	width:99% !important;
	float:left;
	font-weight: bolder;
}
.equipo {
	width:34% !important;
	float:left;
}
.equipo1 {
	width:99.9% !important;
	font-size:80%;
	text-align:center;
	color:#003;
	border-right:3px #C1C1C1 solid;
	border-bottom:3px #C1C1C1 solid;
	border-left:3px #C1C1C1 solid;
	float:left;
}
.equipo2 {
	width:99.9% !important;
	font-size:80%;
	text-align:center;
	color:#003;
	border-left:3px #C1C1C1 solid;
	border-bottom:3px #C1C1C1 solid;
	float:left;
}
.alinear_texto{
	margin-top:6%;
}

.resultados {
	width:10% !important;
	height:99% !important;
	padding-left:0.5%;
	float:left;
	/*border:1px black solid;*/
}
.resultados select {
	font-size:100%;
	margin-top:10%;
	float:left;
}
.datos {
	width:99% !important;
	padding-left:0.5%;
	/*border:1px black solid;*/
	float:left;
}

.datos2 {
	width:99% !important;
	padding-left:0.5%;
	/*border:1px black solid;*/
	float:left;
}
.input_text_liga {
	width:95%;
	font-size:80%;
	color: #181C83;
	background-color: #EDEDFC;
	border-radius:10px;
	font-style:italic;
	border:2px #8989FE solid;
}
.input_select_liga {
	color: #181C83;
	font-size:80%;
	background-color: #EDEDFC;
	border-radius:10px;
	font-style:italic;
	margin-left:5%;
	border:2px #8989FE solid;
}
.dateTxt {
	width:35% !important;
	color: #181C83;
	background-color: #EDEDFC;
	border-radius:10px;
	font-style:italic;
	margin-left:5%;
	font-size:80%;
	border:2px #8989FE solid;
}
.enlaceTxt {
	width:55% !important;
	color: #181C83;
	background-color: #EDEDFC;
	border-radius:10px;
	font-style:italic;
	margin-left:5%;
	font-size:80%;
	border:2px #8989FE solid;
}
.horizontal {
	width:99% !important;
	/*border:1px #000 solid;*/
	float:left;
}
.input_act {
	margin-left:35%;
	border-radius:10px;
}
.input_eli {
	margin-left:20%;
	border-radius:10px;
}


