@charset "utf-8";
/* CSS Document */
.columna1{
	width:15% !important;
	height:55% !important;
	margin-left: 5%;
	margin-top:1%;
	float:left;
	/*border:1px black solid;*/
}
.columna2{
	width:45% !important;
	height:55% !important;
	margin-top:0.5%;
	float:left;
	/*border:1px black solid;*/
}
.columna3{
	width:33% !important;
	height:55% !important;
	margin-top:1%;
	float:left;
	/*border:1px black solid;*/
}
.cuadroTexto{
	width:99%;
	height:30px !important;
	font-size:80%;
	text-align:right;
	color:#003;
	/*border:1px black solid;*/
	float:right;
}
.cuadroInputs{
	width:99%;
	height:30px !important;
	font-size:80%;
	text-align:left;
	/*border:1px black solid;*/
	float:right;
}
.cuadroComentario{
	width:99%;
	height:30px !important;
	font-size:80%;
	color:#F00;
	text-align:left;
	/*border:1px black solid;*/
	float:left;
}
.cuadroTextoDes{
	width:99%;
	height:110px !important;
	font-size:80%;
	text-align:right;
	color:#003;
	/*border:1px black solid;*/
	float:right;
}
.cuadroInputsDes{
	width:99%;
	height:110px !important;
	font-size:80%;
	text-align:left;
	/*border:1px black solid;*/
	float:right;
}
.cuadroComentarioDes{
	width:99%;
	height:110px !important;
	font-size:80%;
	color:#F00;
	text-align:left;
	/*border:1px black solid;*/
	float:left;
}
.input_text_liga {
	width:65%;
	height:80% !important;
	color: #181C83;
	background-color: #EDEDFC;
	border-radius:5px;
	font-weight:bold;
	font-style:italic;
	border:1px #8989FE solid;
}
.input_area {
	height:90% !important;
	color: #181C83;
	background-color: #EDEDFC;
	border-radius:5px;
	font-style:italic;
	font-weight:bold;
	box-shadow:1px 1px 2px rgba(0,0,0,0.3);
	border:1px #8989FE solid;
}
.horizontal {
	width:99% !important;
	/*border:1px #000 solid;*/
	color: #181C83;
	float:left;
}
.horizontal div {
	width:80% !important;
	margin: 0 auto;
	font-size:80%;
	color: #006;
}
.boton {
	background-color: #34495e;
	border-radius:7px;
	border:3px #34495e solid;
	box-shadow:2px 2px 3px rgba(0,0,0,0.3);
	color:#FFF;
	font-weight:bold;
	margin-left:30%;
	float:left;
}
#respuesta {
	
}
#descripcionCom,#imagen1Com,#imagen2Com,#imagen3Com,#imagen4Com {
	display:none;
}


