@charset "utf-8";
/* CSS Document */
.cont_principal {
	width:99% !important;
	height:99% !important;
	overflow-x:hidden;
	overflow-y:scroll;
	float:left;
	/*border:1px black solid;*/
}
/*.titulo {
	font-size:90%;
	color: #006;
	margin-left:15%;
}*/

.caja {
	width:99% !important;
	height:24% !important;
	background-color:#f3fcf5;
	border-radius: 7px;
	border:1px #C1C1C1 solid;
	margin-top:2%;
	box-shadow:2px 2px 3px rgba(0,0,0,0.3);
	float:left;
}
.caja:hover {
	width:99% !important;
	height:24% !important;
	background-color:#dbe4dd;
	border-radius: 7px;
	border:1px #C1C1C1 solid;
	margin-top:2%;
	box-shadow:2px 2px 3px rgba(0,0,0,0.3);
	float:left;
}
.equipo {
	width:23% !important;
	height:99.9% !important;
	float:left;
}
.jugador1 {
	width:99.9% !important;
	height:50% !important;
	font-size:80%;
	text-align:center;
	color:#003;
	background-color:#BFB ;
	border-right:1px #C1C1C1 solid;
	border-left:1px #C1C1C1 solid;
	float:left;
}
.jugador2 {
	width:99.9% !important;
	height:50% !important;
	font-size:80%;
	text-align:center;
	color:#003;
	border-right:1px #C1C1C1 solid;
	border-left:1px #C1C1C1 solid;
	float:left;
}

.alinear_texto{
	margin-top:6%;
}
.alinear_titulo{
	margin-left:22%;
	margin-top:1%;
	/*border:1px black solid;*/
	float:left;
}
.resultados {
	width:4% !important;
	height:99% !important;
	padding-left:0.5%;
	float:left;
	/*border:1px black solid;*/
}
.datos {
	width:25% !important;
	height:99% !important;
	padding-left:0.5%;
	/*border:1px black solid;*/
	float:left;
}
.datos_linea {
	width:99% !important;
	height:20% !important;
	font-size:80%;
	color:#003;
	float:left;
	/*border:1px black solid;*/
}

.partidos {
	width:25% !important;
	height:99% !important;
	padding-left:0.5%;
	border-right:1px #C1C1C1 solid;
	/*border-left:1px #C1C1C1 solid;*/
	color:#003;
	/*border:1px black solid;*/
	float:left;
}
.partidos_titulo {
	width:99% !important;
	height:25% !important;
	font-size:85%;
	text-align:center;
	/*border:1px black solid;*/
	float:left;
}
.partidos_datos {
	width:49% !important;
	height:25% !important;
	font-size:80%;
	text-align:left;
	float:left;
}
.faltas {
	width:15% !important;
	height:99% !important;
	padding-left:0.5%;
	/*border-right:1px #C1C1C1 solid;*/
	color:#003;
	/*border:1px black solid;*/
	float:left;
}
.faltas_titulo {
	width:99% !important;
	height:25% !important;
	font-size:85%;
	text-align:center;
	float:left;
}
.faltas_datos {
	width:99% !important;
	height:25% !important;
	font-size:80%;
	text-align:left;
	float:left;
}
.boton {
	background-color: #34495e;
	border-radius:7px;
	border:3px #34495e outset;
	color:#FFF;
	font-weight:bold;
	margin-left:45%;
	float:left;
}
.imagen {
	height:90% !important;
	float:left;
}
.horizontal {
	width:99% !important;
	/*border:1px #000 solid;*/
	float:left;
}