@charset "utf-8";
/* CSS Document */
.caja_pago {
	width:90% !important;
	background-color:#c5fbc6;
	border-radius: 10px;
	margin-left:5%;
	border:5px #C1C1C1 solid;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
	float:left;
}
.caja_pago img {
	width: 20%;
	margin-top:0.5%;
	margin-left:40%;
	/*border:1px black solid;*/
	float:left;
}
.caja_pago label {
	width:90% !important;
	text-align:left;
	font-size:95%;
	margin-top:0.5%;
	margin-left:2%;
	color:#006;
	/*border:1px black solid;*/
	float:left;
}
.cuadroResultado{
	width:88% !important;
	height:50% !important;
	margin-top:0.5%;
	margin-left:8%;
	overflow-y: auto;
	/*border:1px black solid;*/
	float:left;
}
.linea {
	width:99%;
	height:70px;
	font-size:95%;
	color:#006;
	/*border:1px black solid;*/
	float:left;
}
.input_precio {
	width:15%;
	height:80% !important;
	color: #181C83;
	background-color: #EDEDFC;
	border-radius:10px;
	font-size:100%;
	font-weight:bold;
	font-style:italic;
	text-align:center;
	border:1px #8989FE solid;
}
.boton {
	background-color: #34495e;
	border-radius:10px;
	border:3px #34495e solid;
	box-shadow:5px 5px 10px rgba(0,0,0,0.3);
	color:#FFF;
	font-size:100%;
	font-weight:bold;
	margin-left:35%;
	float:left;
}
.horizontal {
	width:99%;
	font-size:95%;
	color:#006;
	text-align:center;
	/*border:1px black solid;*/
	float:left;
}
.cargando {
	width:15%;
	margin-top:1%;
	margin-left:11%;
}