@charset "utf-8";
/* CSS Document */
.cont_principal {
	width:99% !important;
	float:left;
	/*border:1px black solid;*/
}
/*.titulo {
	font-size:90%;
	color: #006;
	margin-left:15%;
}*/

.caja {
	width:99% !important;
	height:28% !important;
	background-color:#f3fcf5;
	border-radius: 10px;
	border:5px #C1C1C1 solid;
	margin-top:5%;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
	float:left;
}
.caja:hover {
	background-color:#dbe4dd;

}
.equipo {
	width:99% !important;
	float:left;
}
.jugador1 {
	width:99.9% !important;
	font-size:80%;
	text-align:center;
	color:#003;
	float:left;
}
.jugador2 {
	width:99.9% !important;
	font-size:80%;
	text-align:center;
	color:#003;
	float:left;
}
.jugador_emisor {
	width:99.9% !important;
	font-size:80%;
	text-align:center;
	color:#003;
	background-color:#BFB ;
	float:left;
}
.alinear_texto{
	margin-top:2%;
	margin-bottom:2%;
}

.resultados {
	width:99% !important;
	padding-left:0.5%;
	float:left;
}
.resultados2 {
	width:99% !important;
	padding-left:0.5%;
	margin-top:2%;
	border-top:1px #C1C1C1 solid;
	float:left;
}
.datos {
	width:99% !important;
	padding-left:0.5%;
		border-top:1px #C1C1C1 solid;
	/*border:1px black solid;*/
	float:left;
}
.datos_jornada {
	width:38% !important;
	font-size:80%;
	margin-top:2%;
	margin-bottom:2%;
	text-align:center;
	color:#003;
	float:left;
	/*border:1px black solid;*/
}
.datos_estado {
	width:61% !important;
	font-size:80%;
	margin-top:2%;
	margin-bottom:2%;
	text-align:center;
	color:#003;
	float:left;
	/*border:1px black solid;*/
}
.datos textarea {
	color: #181C83;
	background-color: #EDEDFC;
	border-radius:10px;
	font-size:60%;
	font-weight:bold;
	font-style:italic;
	border:2px #8989FE solid;
	float:left;
}
.respuesta {
	width:99% !important;
	margin-top:3%;
	padding-left:0.5%;
	/*border:1px black solid;*/
	float:left;
}
.contestacion {
	width:99% !important;
	/*border:1px black solid;*/
	float:left;
}
.contestacion img {
	width:15% !important;
	float:left;
}
.contestacion label {
	font-size:80%;
	margin-left:5%;
	color:#003;
	float:left;
}
.destinatarios {
	width:99% !important;
	height:70% !important;
	/*border:1px black solid;*/
	float:left;
}
.destinatarios label {
	width:99% !important;
	font-size:80%;
	text-align:left;
	color:#003;
	float:left;
}
.boton {
	width:auto;
	background-color: #EDEDFC;
	border-radius:10px;
	color: #181C83;
	font-weight:bold;
	font-size:100%;
	font-style:italic;
	border:1px #8989FE solid;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
}

.input_resultado {
	width:14% !important;
	color: #181C83;
	margin-left:5%;
	font-size:80%;
	background-color: #EDEDFC;
	border-radius:10px;
	font-style:italic;
	font-weight:bold;
	border:2px #8989FE solid;
}
.horizontal {
	width:99% !important;
	/*border:1px #000 solid;*/
	float:left;
}
.boton2 {
	background-color: #34495e;
	border-radius:10px;
	border:3px #34495e solid;
	font-size:100%;
	margin-left:30%;
	margin-top:4%;
	margin-bottom:4%;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
	color:#FFF;
	font-weight:bold;
	float:left;
}
.input_act {
	margin-left:35%;
	font-size:100%;
	border-radius:10px;
}
.input_eli {
	margin-left:20%;
	font-size:100%;
	border-radius:10px;
}
.error{
	margin-left:10%;
	font-size:100%;
	font-size:80%;
	color:#F00;
}
#nombreCom,#apellidosCom,#dniCom,#telefonoCom,#direccionCom,#cpCom,#tipoCom {
	display:none;
}
.check {
	width:40px;
	height:40px;
}