@charset "utf-8";
/* CSS Document */
.cont_principal {
	width:99% !important;
	float:left;
	/*border:1px black solid;*/
}
.titulo {
	font-size:90%;
	color: #006;
}
.caja1{
	width:99% !important;
	height:90% !important;
	margin-top:1%;
	float:left;
	/*overflow-x:hidden;
	overflow-y:scroll;*/
	/*border:1px black solid;*/
}
.columna1{
	width:65% !important;
	/*height:70% !important;*/
	margin-left: 2%;
	margin-top:1%;
	float:left;
	/*border:1px black solid;*/
}
.columna2{
	width:10% !important;
	/*height:70% !important;*/
	margin-top:0.5%;
	float:left;
	/*border:1px black solid;*/
}
.columna3{
	width:20% !important;
	/*height:70% !important;*/
	margin-top:1%;
	float:left;
	/*border:1px black solid;*/
}
.cuadroTexto{
	width:99%;
	height:90px !important;
	font-size:80%;
	text-align:right;
	color:#003;
	/*border:1px black solid;*/
	float:right;
}
.cuadroInputs{
	width:99%;
	height:90px !important;
	font-size:80%;
	text-align:left;
	/*border:1px black solid;*/
	float:right;
}
.cuadroComentario{
	width:99%;
	height:90px !important;
	font-size:90%;
	color:#F00;
	text-align:left;
	/*border:1px black solid;*/
	float:left;
}
.input_text_liga {
	width:95%;
	max-width:95%;
	font-size:100%;
	color: #181C83;
	background-color: #EDEDFC;
	border-radius:10px;
	font-weight:bold;
	font-style:italic;
	border:2px #8989FE solid;
	text-align:center;
}
.boton {
	background-color: #34495e;
	border-radius:7px;
	border:3px #34495e solid;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
	color:#FFF;
	font-size:90%;
	font-weight:bold;
	margin-left:10%;
	float:left;
}
.boton2 {
	background-color: #34495e;
	border-radius:7px;
	border:3px #34495e solid;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
	color:#FFF;
	font-size:90%;
	font-weight:bold;
	margin-left:10%;
	float:right;
}
.horizontal {
	width:99% !important;
	/*border:1px #000 solid;*/
	color: #181C83;
	float:left;
}
.horizontal div {
	width:80% !important;
	margin: 0 auto;
	font-size:80%;
	color: #006;
}
#inscripcionCom,#victoria_amistosoCom,#victoriaCom,#dieciseisavosCom,#octavosCom,#cuartosCom,#semifynalCom,#fynalCom,#primeroCom,#segundoCom {
	display:none;
}