@charset "utf-8";
/* CSS Document */
.actualizacion_texto {
	text-align:center;
	font-size:80%;
	margin-top:1.5%;
	margin-left:1%;
	color:#006;
	float:left;
}
.actualizacion_img{
	margin-left:5%;
	width:6%;
	margin-top:0.5%;
	float:left;
}

