/* CSS Document */
html,body {
	margin: 0px;
	padding: 0px;
	overflow:auto;
	font-size:50px;
}
.principal {
	width:100%;
	margin: 0 auto;
	font-family: Georgia, "Times New Roman", Times, serif;
	/*background-image: url(../../../images/fondo0.jpg);*/
	background-repeat: no-repeat;
	background-position:center;
	/*background-size: contain;*/
	/*border:1px black solid;*/
	background-color:#FFF;
}
.cabecera {
	width:100% !important;
	height:50% !important;
	/*margin-top:1%;
	margin-left:5%;*/
	border-top:20px #8989FE solid;
	/*border-bottom:10px #8989FE solid;
	border:1px black solid;*/
	background-color:#FFF;
	/*box-shadow:5px 5px 7px rgba(0,0,0,0.3);*/
	float:left;
}
.logo {
	width:99%;
	/*height:99%;*/
	float:left;
}
.textoLogo {
	font-size:143%;
	margin-top:8%;
	letter-spacing:3px;
	color: #181C83;
	text-shadow: 0px 5px 7px #555;
	/*border:1px black solid;*/
	float: left;
}
.imagenLogoIzq {
	width:8%;
	margin-left:0.5%;
	margin-top:12%;
	/*border:1px black solid;*/
	float:left;
}
.imagenLogoDer {
	width:8%;
	margin-top:12%;
	/*border:1px black solid;*/
	float:left;
}
.comentarioLogo {
	width:90% !important;
	text-align:center;
	font-size:85%;
	color:#6060af;
	margin-top:10%;
	margin-left:5%;
	font-weight:bold;
	/*border:1px black solid;*/
	float:left;
}
.opciones {
	width:100%;
	height:99%;
	margin-top:12%;
	float:left;
}
.tipo {
	width:99%;
	margin-top:3%;
	/*height:33%;*/
	font-size:90%;
	/*border:1px black solid;*/
	float:left;
}
.acceso {
	width:99%;
	/*height:50% !important;*/
	margin-top:7%;
	margin-left:2%;
	/*border:1px black solid;*/
	float:left;
}
.errores {
	width:99%;
	margin-bottom:2%;
	float:left;
	/*border:1px black solid;*/
}
.acceso2 {
	width:99%;
	/*height:20%;*/
	margin-top:13%;
	/*border:1px black solid;*/
	padding:0px;
	font-size: 90%;
	color: #181C83;
	float:left;
}
.acceso2 div {
	width:49%;
	text-align:center;
	float:left;
}
.link {
	color:#00C;
	text-decoration:none;
}
.link:hover {
	color: #009;
	font-weight:bold;
}
.checkbox{
	margin-left:3%;
}
.inputAcceso {
	margin-left:1%;
	width:75%;
	/*height:70px;*/
	color: #181C83;
	background-color: #EDEDFC;
	font-size:100%;
	border-radius:20px;
	font-style:italic;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
	border:5px #8989FE solid;
	float:left
}
.busqueda {
	width:75% !important;
	margin-top:3%;
	/*border:1px black solid;*/
	float: right;
}
.busqueda_logo {
	width:21% !important;
	margin-left:2%;
	margin-right:2%;
	/*border:1px black solid;*/
	float:left;
}
.bola_busqueda {
	width:99% !important;
	margin-top:60%;
	/*height:99% !important;*/
	/*border:1px black solid;*/
}
.mostrar_resultados {
	width:75% !important;
	/*border:1px black solid;*/
	float: right;
}
.central {
	width:100% !important;
	margin-top:20%;
	
	background: rgba(108,108,199,1);
	background: -moz-linear-gradient(top, rgba(108,108,199,1) 0%, rgba(124,124,230,1) 15%, rgba(137,137,254,1) 50%, rgba(124,124,230,1) 84%, rgba(108,108,199,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(108,108,199,1)), color-stop(15%, rgba(124,124,230,1)), color-stop(50%, rgba(137,137,254,1)), color-stop(84%, rgba(124,124,230,1)), color-stop(100%, rgba(108,108,199,1)));
	background: -webkit-linear-gradient(top, rgba(108,108,199,1) 0%, rgba(124,124,230,1) 15%, rgba(137,137,254,1) 50%, rgba(124,124,230,1) 84%, rgba(108,108,199,1) 100%);
	background: -o-linear-gradient(top, rgba(108,108,199,1) 0%, rgba(124,124,230,1) 15%, rgba(137,137,254,1) 50%, rgba(124,124,230,1) 84%, rgba(108,108,199,1) 100%);
	background: -ms-linear-gradient(top, rgba(108,108,199,1) 0%, rgba(124,124,230,1) 15%, rgba(137,137,254,1) 50%, rgba(124,124,230,1) 84%, rgba(108,108,199,1) 100%);
	background: linear-gradient(to bottom, rgba(108,108,199,1) 0%, rgba(124,124,230,1) 15%, rgba(137,137,254,1) 50%, rgba(124,124,230,1) 84%, rgba(108,108,199,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c6cc7', endColorstr='#6c6cc7', GradientType=0 );
	
	-webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 5px 3px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 5px 3px rgba(0,0,0,0.3);
	float:left;
}
.boton {
	border-radius:20px;
	background-color:#181C83;
	color:#FFF;
}
.boton2 {
	background-color: #34495e;
	font-size:100%;
	border-radius:20px;
	border:3px #34495e solid;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
	color:#FFF;
	font-weight:bold;
	margin-left:2%;
}
#emailCom,#passwordCom {
	display:none;
	color:#F00;
	font-size:75%;
}
.respuesta {
	color:#F00;
	font-size:75%;
}
.recuperar {
	width:99%;
	font-size: 70%;
	color: #181C83;
	float:left;
	
}
.input_select_liga {
	width:95% !important;
	max-width: 99% !important;
	font-size:100%;
	color: #181C83;
	background-color: #EDEDFC;
	border-radius:20px;
	font-style:italic;
	font-weight:bold;
	border:5px #8989FE solid;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
}

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
    display:none; 
    /*margin:10%;*/
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
    display:inline-block;
    margin-left:2%;
	color: #181C83;
    padding: 2px 6px;
    background-color: #EDEDFC;
	border-radius:20px;
	border:5px #8989FE solid;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
    /*border-color: #ddd;*/
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label { 
   background-image: none;
   background-color:#8989FE;
   color: #FFF;
   font-weight:bold;
   box-shadow:5px 5px 7px rgba(0,0,0,0.3);
}

.central_grande {
	width:99.5% !important;
	margin-top:10%;
	float:left;
	/*border:1px #000040 solid;*/
}
.videotutoriales {
	width:96% !important;
	/*background-color:#FFF;*/
	background-color:#EFEFEF;
	margin-left:2%;
	margin-top:20%;
	/*border:1px #181C83 solid;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);*/
	font-weight:bold;
	color:#181C83;
	float:left;
}
.v_titulo {
	width:100% !important;
	/*background-color:#8989FE;
	border-bottom:1px #181C83 solid;*/
	float:left;
}
.v_titulo img{
	height:80% !important;
	margin-top:2%;
	margin-left:2%;
	float:left;
}
.v_titulo span {
	margin-top:5%;
	margin-left:10%;
	float:left;
}
.v_contenido {
	width:90% !important;
	margin-left:5%;
	font-size:80%;
	/*border:1px black solid;*/
}
.canal {	
	width:99% !important;
	margin-top:15%;
	/*border:1px black solid;*/
	float:left;
}
.link_canal {
	text-decoration:none;
	color: #181C83;
	/*color:#e52d27;*/
}
.link_canal:hover {
	text-decoration: underline;
	/*color: #121562;*/
	/*color:#e52d27;*/
}
.reproductor {
	width:94% !important;
	/*height:100% !important;*/
	/*margin: 0 auto;  /* optional - if want to center align */
	margin-top:10%;
	margin-left:1%;
	border-radius:20px;
	/*border-left:30px #8989FE solid;
	border-bottom:15px #8989FE solid;*/
	border:20px #8989FE solid;
	background-color: #8989FE;
	box-shadow:7px 7px 10px rgba(0,0,0,0.3);
	float:left;
	/*border:1px black solid;*/
}
#sombreado{
	-webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 5px 3px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 5px 3px rgba(0,0,0,0.3);
}
.noticias {
	width:96% !important;
	/*background-color:#FFF;*/
	background-color:#EEEEEE;
	margin-left:2%;
	margin-top:10%;
	margin-bottom:10%;
	/*border:1px #181C83 solid;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);*/
	color:#181C83;
	font-weight:bold;
	float:left;
}
.n_titulo {
	width:100% !important;
	/*background-color:#74e374;*/
	/*background-color:#8989FE;
	border-bottom:1px #181C83 solid;*/
	float:left;
}
.n_titulo img{
	height:80% !important;
	margin-top:2%;
	margin-left:2%;
	float:left;
}
.n_titulo span {
	/*color:#27e52b;*/
	margin-top:5%;
	margin-left:10%;
	float:left;
}
.n_contenido {
	width:90% !important;
	height:80% !important;
	margin-left:5%;
	overflow-y:auto;
	/*border:1px black solid;*/
}
.mostrar_noticia {
	margin-top:5%;
	font-size:80%;
	/*border:1px black solid;*/
}