@charset "utf-8";
/* CSS Document */
.fondo_publi {
	height:20% !important;
	/*border:1px #000 solid;*/
}
.fondo_publi_vacio {
	height:20% !important;
	/*border:1px #000 solid;*/
}
.imagen_redondeada {
	width: 73% !important;
	height:83% !important;
	margin-top: 7.5%;
	margin-left: 13.5%;
    border-radius: 50%;
	border:5% #beec29 solid;
}
.imagenPubliVacia {
	height:99% !important;
	margin-left:1%;
}



