@charset "utf-8";
/* CSS Document */
.cont_principal {
	width:99% !important;
	float:left;
	/*border:1px black solid;*/
}
.titulo {
	font-size:90%;
	color: #006;
	margin-left:30%;
	float:left;
}
.columna1{
	width:20% !important;
	margin-top:3%;
	float:left;
	/*border:1px black solid;*/
}
.columna2{
	width:79% !important;
	height:70% !important;
	margin-top:2%;
	float:left;
	/*border:1px black solid;*/
}
.cuadroTexto{
	font-size:80%;
	text-align:right;
	color:#003;
	/*border:1px black solid;*/
	float:right;
}
.cuadroInputs{
	font-size:80%;
	text-align:left;
	/*border:1px black solid;*/
	float:left;
}
.input_text_area {
	color: #181C83;
	background-color: #EDEDFC;
	border-radius:10px;
	font-size:70%;
	font-weight:bold;
	font-style:italic;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
	border:1px #8989FE solid;
}
.horizontal {
	width:99% !important;
	/*border:1px #000 solid;*/
	float:left;
}
.error{
	margin-left:10%;
	font-size:80%;
	color:#F00;
}
.boton {
	background-color: #34495e;
	border-radius:10px;
	border:2px #34495e solid;
	box-shadow:5px 5px 7px rgba(0,0,0,0.3);
	color:#FFF;
	font-size:80%;
	font-weight:bold;
	margin-left:25%;
	float:left;
}



